Задание 1

Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, <br> чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [2]:
import pandas as pd
import numpy as np

In [17]:
from sklearn.datasets import load_boston
bds = load_boston()
bds.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [26]:
data = bds["data"]
feature_names = bds ["feature_names"]
target = bds ["target"]

In [39]:
X = pd.DataFrame(data, columns=feature_names)
X.head(4)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94

In [54]:
y = pd.DataFrame(target, columns=["target"])
y.head(2)

   target
0    24.0
1    21.6

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

...Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [66]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [73]:
y_pred = lr.predict(X_test)
# y_pred

In [82]:
check_test = pd.DataFrame({
    "y_test": y_test["target"],
    "y_pred": y_pred.flatten()
})
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head(4)

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213

In [85]:
from sklearn.metrics import r2_score
r2Score = r2_score(check_test["y_pred"], check_test["y_test"])
r2Score

0.669370269149561

Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, <br>
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], <br>
чтобы получить из датафрейма одномерный массив Numpy, <br>
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2.

Сравните с результатом из предыдущего задания.

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [89]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [91]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [97]:
fy_pred = model.predict(X_test)

In [110]:
# loldiff = y_pred - fy_pred; loldiff

In [111]:
fcheck_test = pd.DataFrame({
    "y_test" : y_test["target"],
    "fy_pred" : fy_pred.flatten()
})

In [113]:
fcheck_test.head(4)

     y_test    fy_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726

In [114]:
fr2Score = r2_score(fcheck_test["fy_pred"], fcheck_test["y_test"])
fr2Score

0.8479049999699443

In [116]:
# Значение r2 линейной регрессии
r2Score

0.669370269149561